
.header {
    text-align: center;
    padding: 10px;
    background-color: beige;
    margin-bottom: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Open Sans Condensed", "Impact", cursive;
}
li {
    display: inline;
    font-weight: bold;
}
h1 {
    color: saddlebrown;
    font-family: "Open Sans Condensed", "Impact",cursive;
    font-size: 3em;
}
p, a {
    color: saddlebrown; 
}
a {
    text-decoration: none;
    padding-right: 30px;
}
h2, h3, h4, h5 {
    color: saddlebrown;
    font-family: "Open Sans Condensed", "Impact",cursive;
}
